h1 {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align: left;
}

.header {
  height: 69px
}

h1 {
  text-decoration: underline;
  color: white
}

h2 {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1200px
}

h4 {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1200px
}

h5 {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1200px
}
